.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /* Đặt z-index cao để nó nằm trên tất cả các phần tử khác */
    display: none;
    pointer-events: none;
}